<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkjJQs2gvcRi0iw-3T1vd-a5oOLm4_xa0</string>
	<key>GCM_SENDER_ID</key>
	<string>365854347102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.billingApp</string>
	<key>PROJECT_ID</key>
	<string>casco-accessries</string>
	<key>STORAGE_BUCKET</key>
	<string>casco-accessries.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365854347102:ios:8205143a1cd64e8a6409cf</string>
</dict>
</plist>